# Build outputs
**/bin/
**/obj/
publish/

# IDE
.idea/
.vscode/
.vs/
*.DotSettings*
.claude/
.letta/

# Runtime files
*.log
nul

# Build files
/Build
/Build/linux-x64/VRCVideoCacher.pdb
/Build/linux-x64/yt-dlp-stub.exe
/Build/win-x64/VRCVideoCacher.pdb
notepad.md